.App {
  display: grid;
  grid-template-columns: auto 494.44px;
  grid-template-rows: auto 801px;

  .toolbar-area {
    background-color: peachpuff;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
}
